* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
}

.header {
	background: #000;
	height: 150px;
	width: 100%;
	position: fixed;
	color: white;
	text-align: center;
	display: flex;
	z-index: 20;
}
.header p {
	margin: auto;
	font-size: 20px;
}
.content {
	max-width: 800px;
	margin: 0 auto;
	padding: 200px 0 0 0;
	position: relative;
}
.content__text {
	max-width: 100%;
	text-align: center;
	font-weight: 700;
	font-size: 40px;
	height: 100%;
	display: flex;
}
.content__text pre {
	margin: auto;
	position: relative;
	z-index: 19;
}
span {
	position: fixed;
}

.content__text-u {
	text-align: center;
	width: 800px;
	position: fixed;
	bottom: 150px;
	font-size: 80px;
	color: rgb(255, 255, 255);
	z-index: 2;
}

.content__photo {
	position: relative;
	height: 140vh;
	width: 330px;
	margin: 0 auto;
}
.content__photo img {
	margin: 0 auto;
	width: 100%;
	height: 330px;
	position: absolute;
	bottom: 20px;
}

@media screen and (max-width: 1000px) {
	.header {
		height: 500px;
	}
	.header p {
		font-size: 60px;
	}
	.content {
		padding: 700px 0 0 0;
	}
	.content__text {
		font-size: 45px;
	}
	.content__text-u {
		bottom: 500px;
		font-size: 120px;
	}
	.content__photo {
		position: relative;
		height: 110vh;
		width: 500px;
		margin: 0 auto;
	}
	.content__photo img {
		margin: 0 auto;
		width: 100%;
		height: 500px;
		position: absolute;
		bottom: 300px;
	}
}
